@import url(utilities.css);
:root {
    /* colors */
    --maximum-blue-green_10: hsla(185, 75%, 45%, 0.1);
    --rich-black-fogra-29: hsl(217, 28%, 9%);
    --gray-x-li-gray: hsl(0, 0%, 74%);
    --oxford-blue_60: hsla(230, 41%, 14%, 0.6);
    --bittersweet: hsl(5, 100%, 69%);
    --smoky-black: rgb(7, 6, 1);
    --gainsboro: hsl(0, 0%, 88%);
    --black_90: hsla(0, 0%, 0%, 0.9);
    --cultured: hsl(200, 12%, 95%);
    --salmon: hsl(5, 100%, 73%);
    --onyx: hsl(0, 0%, 27%);
    --pale-yellow: #fbffa7;
    --pale-blue: #b1c5ff;
    --light-red: #ff764d;
    --pale-violet: #d5b3ff;
    --pale-lime-green: #b6ffc0;
    --pure-blue: #0000ff;
    --chalk-white: #f1f1f1;
    --white: #f3f3f3;
    --pale-black: #3c3a3a;
    --black: #020202;
    --gray: #898989;
    --crimson: #dc143c;
    --shade-of-black: #151320;
    --almost-white-gray: #e9e9e9;
    --black-russian: #0b0a10;
    --mostly-black-blue: #151320;
    --mostly-black-blue-b: #201d30;
    --shade-of-green: #24301d;
    --shade-of-purple: #201d30;
    --shade-of-brown: #302a1d;
    --very-dark-olive-tone: #1e2013;
    --very-dark-desaturated-blue: #2a2640;
    --very-dark-desaturated-blue-b: #353050;
    /* Topography  */
    --ff-old-standardTT: 'Lobster', cursive;
    --ff-lobster: 'Lobster', cursive;
    --ff-Tiro: 'Tiro Gurmukhi', serif;
    --ff-roboto: 'Roboto', sans-serif;
    --ff-josefin-sans: 'JosefinSans', sans-serif;
    --fs-xl: 5rem;
    --fs-1: 3rem;
    --fs-2: 2.6rem;
    --fs-3: 2.2rem;
    --fs-4: 2rem;
    --fs-5: 1.8rem;
    --fs-6: 1.5rem;
    --fs-7: 1.4rem;
    --fs-8: 1.2rem;
    --fs-9: 1rem;
    --fs-s: .580rem;
    --fw-300: 300;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-Xb: 800;
    --fw-xxl: 900;
    /* Transitions */
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-out: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-in: cubic-bezier(0.33, 0.85, 0.56, 1.02);
}

@media screen and (max-width: 63.9375em) {
    .header {
        gap: .550rem;
        transition: .5s;
        padding-left: .550rem;
    }
    .logo-div {
        padding: 0.55rem;
        z-index: 1500;
    }
    .primary-nav-div {
        display: none;
    }
    /* Responsive Menu  */
    .responsive-menu {
        display: flex;
        align-items: center;
        z-index: 1600;
        margin: auto 0;
    }
    .responsive-menu ul {
        display: flex;
        padding: 0 .3rem;
        width: 100%;
    }
    .responsive-menu li {
        list-style-type: none;
        width: 30%;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 100;
        font-family: var(--font-Tiro);
        gap: .5rem;
        user-select: none;
        line-height: 1.5;
        letter-spacing: 2px;
        cursor: pointer;
    }
    .responsive-menu li i {
        font-size: 1.5rem;
        font-weight: var(--fw-Xb);
        transition: .5s;
    }
    .responsive-menu span {
        display: flex;
        margin-left: .1rem;
        margin-top: .1rem;
        transition: .5s;
    }
    .responsive-menu .menu-icon:hover {
        border-top: 1px solid var(--pale-blue);
        border-radius: 1rem;
    }
    /* Slide in Navigation */
    .responsive-navigation {
        display: flex;
        position: absolute;
        flex-direction: column;
        background-color: var(--pure-blue);
        opacity: 1;
        top: 0;
        transform: translateY(-500%);
        /* 4rem when opened -100 when closed */
        left: 0;
        padding: clamp( 1rem, 1.5rem, 2rem);
        width: 100%;
        height: fit-content;
        transition: transform .85s ease-in-out;
        z-index: 1001;
    }
    /* slide in Navigation */
    .slidein-nav .slide-in {
        flex: 2;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: fit-content;
        width: 60%;
    }
    .slidein-nav .slide-in ul {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    .slidein-nav .slide-in li {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
    .slidein-nav .slide-in a {
        text-decoration: none;
        font-family: 'Tiro Gurmukhi', serif;
        font-weight: 400;
        color: var(--white);
        display: block;
        width: 100%;
        min-height: 100%;
        padding: 0.5rem;
        align-items: center;
        list-style-type: none;
        font-size: 1.2em;
        letter-spacing: 2px;
        transition: .5s;
    }
    .main-nav a:hover,
    .user-div.responsive .cta-free-trial.responsive a:hover {
        color: var(--black);
        background: linear-gradient(to right, var(--white), var(--pure-blue)) 70%;
        font-weight: 600;
        padding-left: 1rem;
        border-top: 1px solid var(--white);
        border-bottom: 1px solid var(--white);
        border-radius: .3rem;
    }
    .main-nav a:active,
    .user-div.responsive .cta-free-trial.responsive a:active {
        color: var(--light-red);
        background: linear-gradient(to right, var(--white), var(--pure-blue)) 70%;
        font-weight: 600;
        padding-left: 1rem;
        border-top: 1px solid var(--white);
        border-bottom: 1px solid var(--white);
        border-radius: .3rem;
    }
    .user-div.responsive {
        display: block;
        flex-direction: column;
        width: 42%;
        white-space: nowrap;
        justify-content: left;
        padding-left: .5rem;
    }
    .user-div.responsive .cta-free-trial.responsive a {
        display: block;
        color: var(--white);
        text-decoration: none;
        font-family: 'Tiro Gurmukhi', serif;
        font-weight: 300;
        list-style-type: none;
        letter-spacing: 1.2px;
        font-size: 1.2em;
        padding: 0.5rem;
        width: 100%;
        transition: var(--transition-2);
    }
    .user-auth.responsive {
        width: 100%;
        display: block;
        align-items: center;
        transform: translateX(-2%);
    }
    .user-auth-items.responsive {
        padding: 0;
        width: 100%;
        display: flex;
        gap: .3rem;
    }
    .user-auth-items.responsive li:nth-child(2) {
        width: fit-content;
    }
    .user-auth-items.responsive li {
        display: flex;
        align-items: center;
        padding: 0;
        border: 1px solid rgb(115, 115, 250, .5);
        border-radius: .345rem;
        transition: .5s;
        text-align: center;
        width: calc(100%);
    }
    .user-auth-items.responsive li:hover {
        filter: brightness(120);
    }
    .user-auth-items.responsive li:nth-child(2) {
        border: none;
    }
    .user-auth-items.responsive a {
        text-decoration: none;
        color: var(--pale-blue);
        font-size: var(--fs-8);
        line-height: 1.5;
        width: 100%;
        padding: .2rem .3rem;
    }
    .user-auth-items.responsive p {
        font-weight: 300;
        color: var(--white);
        font-size: var(--fs-8);
        line-height: 1.5;
        list-style-type: none;
        font-family: 'Tiro Gurmukhi', serif;
    }
    .user-auth-items.responsive a:active {
        color: var(--light-red);
    }
    /* COLLAPSED MENU */
    .collapsed-menu-responsive {
        width: 100%;
        order: 2;
        display: block;
        flex-direction: column;
        z-index: 500;
        position: relative;
        min-height: fit-content;
    }
    .collapsed-menu-responsive ul {
        display: flex;
        flex-direction: column;
        padding: 0.5em;
        gap: 1.5em;
    }
    .collapsed-menu-responsive li {
        list-style-type: none;
    }
    .collapsed-nav-list-top.responsive {
        z-index: 500;
    }
    .collapsed-nav-list-top a {
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1.2;
        display: inline-block;
        width: fit-content;
        color: var(--white);
        white-space: nowrap;
    }
    .collapsed-nav-list-top a:hover {
        border: 1px solid var(--pale-black);
        border-radius: .3rem;
        padding: .2rem .4rem;
    }
    .collapsed-nav-list-top a:active {
        color: var(--light-red);
    }
    .menu-hd-h3 {
        padding: .5em;
        margin-bottom: .4rem;
    }
    .menu-hd-h3 h3 {
        color: var(--white);
        white-space: nowrap;
        font-size: clamp(var(--fs-s), var(--fs-6), var(--fs-5));
    }
    .menu-scroll {
        width: 200vw;
    }
    .menu-scroll .scroll-list {
        display: flex;
        flex-direction: row;
        padding: 0.350rem;
        width: 100%;
    }
    .menu-scroll .scroll-list li {
        width: 100%;
        display: flex;
        padding: .5rem 1rem;
        white-space: wrap;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 1em;
        margin-inline-end: 1em;
    }
    .menu-scroll .scroll-list li a {
        font-size: var(--fs-7);
        display: flex;
        flex-direction: column;
        flex: 2;
    }
    .collapsed-nav-links-bottom.responsive {
        z-index: 500;
        width: 100%;
        overflow-x: scroll;
        padding: auto 0;
    }
    .collapsed-nav-links-bottom.responsive a {
        text-decoration: none;
        font-size: var(--fs-8);
        line-height: 1.5;
        color: var(--white);
        display: block;
        padding: .3rem .5rem;
    }
    .collapsed-nav-links-bottom.responsive span {
        display: block;
        margin-bottom: .4rem;
        font-family: 'Tiro Gurmukhi', serif;
        font-weight: var(--fw-md);
        font-size: var(--fs-5);
    }
    .sticky-nav-header.sticky {
        position: fixed;
        top: 0;
        transition: .5s ease-in-out;
    }
    /* CONTENT STYLES */
    .head-section {
        height: calc(150vh /2);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('/images/header.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .content .hero-text {
        width: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2em;
    }
    .hero-hd-text {
        line-height: 1.5;
    }
    .content .hero-text p {
        line-height: 2;
        font-size: var(--fs-8);
    }
    .image-container-4 {
        display: flex;
        flex-direction: column;
        height: 55vh;
        width: 90vw;
    }
    .img-photo-8 {
        flex: 1;
        width: 100%;
        height: 50%;
    }
    .img-text-box {
        flex: .5;
        width: 100%;
        height: 50%;
        padding: 0;
    }
    .latest-job-hd {
        font-size: (var(--fs-8), var(--fs-6), var(--fs-5));
    }
    .latest-jobs-span {
        margin-top: .4rem
    }
    .latest-jobs-link {
        display: inline-block;
        text-decoration: none;
        color: var(--pure-blue);
        letter-spacing: 2px;
        line-height: 2;
        font-size: var(--fs-7);
        font-weight: var(--fw-400);
        font-family: 'Tiro Gurmukhi', serif;
    }
    /* CONTENT STYLES */
    /* FOOTER STYLES */
    .footer {
        padding: .5rem 2rem;
        min-height: 100vh;
    }
    .footer-hd {
        padding-left: 3rem;
    }
    .footer-content-top,
    .footer-content-middle {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 2rem;
        padding: 1rem 3rem;
    }
    .footer-content-top .social-media-box {
        order: 2;
    }
    .footer-content-top .education-box {
        order: 3;
    }
    .footer-content-top .newsletter-signup-box {
        order: 1;
    }
    .newsletter-input-div .input-field {
        flex: 2;
    }
    .newsletter-input-div .btn-submit {
        flex: .5;
    }
    .footer-content-top .social-media-box {
        width: 50%;
        gap: 1.25rem;
    }
    .footer-content-top .social-media-box .links li,
    .edu li,
    .community-links li,
    .distribution-links li {
        width: fit-content;
    }
    .hd-span {
        margin-bottom: .1rem;
    }
    .location-language-box {
        display: flex;
        gap: .5rem;
    }
    .location-language-box .lang-location {
        flex-direction: column;
    }
    .location-language-box .lang-location select {
        background: var(--pale-blue);
        box-shadow: 0px 0px 2px var(--black);
    }
    .footer-content-footer {
        flex-direction: column;
        width: 100%;
        padding: 1rem 3rem;
    }
    .footer-content-footer .footer-nav {
        width: 100%;
    }
    .footer-content-footer .footer-nav ul {
        flex-direction: column;
        justify-content: flex-start;
    }
    .footer-content-footer .footer-logo .country-text {
        text-align: left;
        flex: .2;
    }
    .footer-content-footer .footer-logo .footer-logo-img {
        flex: 2;
    }
}

@media screen and (max-width: 40em) {
    .header {
        background-color: var(--shade-of-purple);
        border: none;
    }
    .responsive-menu li {
        color: var(--chalk-white);
    }
    .responsive-menu li i {
        color: var(--chalk-white);
    }
    .menu-scroll {
        width: 100vw;
    }
    .menu-scroll .scroll-list {
        padding: 1rem;
    }
    .menu-scroll .scroll-list li {
        min-width: 100%;
        display: block;
        white-space: wrap;
        margin-block-start: .5em;
        margin-block-end: .5em;
    }
    .menu-scroll .scroll-list li p {
        margin-inline-end: 1rem;
    }
    .collapsed-nav-links-bottom.responsive {
        z-index: 500;
        width: 100%;
        overflow-x: scroll;
        padding: auto 0;
    }
    .collapsed-nav-links-bottom.responsive a {
        text-decoration: none;
        font-size: var(--fs-7);
        line-height: 2;
        color: var(--white);
        padding: .3rem .5rem;
    }
    .sticky-nav-header.sticky {
        background-color: var(--shade-of-purple);
        transition: .5s ease-in-out;
    }
    .sticky-nav-header.sticky ul {
        translate: 15%;
    }
    .sticky-nav-header.sticky a {
        color: var(--white);
    }
    .second-nav a.active {
        color: var(--light-red);
    }
    /* HEAD SECTION  */
    .head-section {
        width: 100%;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .page-about__header__ableton-logo {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /* CONTENT STYLES */
    .youtube-media-about {
        width: 80vw;
        height: 50vw;
    }
    .latest-job-hd {
        font-size: clamp(var(--fs-s), var(--fs-8), var(--fs-9));
        font-weight: var(--fw-500);
        padding: clamp(.5vw, .8rem, 1rem);
    }
    .latest-jobs-link {
        font-size: var(--fs-8);
    }
    /* FOOTER STYLES */
    .footer {
        padding: .560rem;
    }
    .footer-hd {
        padding-left: .560rem;
    }
    .footer-content-top,
    .footer-content-middle {
        width: 90vw;
        margin: 0 auto;
        padding: .560rem .560rem;
    }
    .footer-content-top .social-media-box {
        flex: 1;
        order: 2;
        width: 100%;
    }
    .footer-content-top .social-media-box .social-media-icons {
        width: 100%;
        display: flex;
        gap: .3rem;
    }
    .footer-content-top .social-media-box .links ul li a {
        width: 100%;
        font-size: var(--fs-9);
        color: var(--pale-black);
    }
    .footer-content-top .education-box {
        order: 3;
    }
    .footer-content-top .newsletter-signup-box {
        order: 1;
        width: 100%;
    }
    .newsletter-input-div .input-field {
        flex: 1;
    }
    .newsletter-input-div .btn-submit {
        flex: .5;
    }
    .footer-content-top .social-media-box .links li,
    .edu li,
    .community-links li,
    .distribution-links li {
        width: fit-content;
        white-space: nowrap;
    }
    .edu li a {
        font-size: clamp(.5vw, var(--fs-9), var(--fs-8));
    }
    .hd-span {
        margin-bottom: .1rem;
    }
    .footer-content-footer {
        padding: 1rem;
    }
}