@import url('utilities.css');
:root {
    /* colors */
    --maximum-blue-green_10: hsla(185, 75%, 45%, 0.1);
    --rich-black-fogra-29: hsl(217, 28%, 9%);
    --gray-x-li-gray: hsl(0, 0%, 74%);
    --oxford-blue_60: hsla(230, 41%, 14%, 0.6);
    --bittersweet: hsl(5, 100%, 69%);
    --smoky-black: rgb(7, 6, 1);
    --gainsboro: hsl(0, 0%, 88%);
    --black_90: hsla(0, 0%, 0%, 0.9);
    --cultured: hsl(200, 12%, 95%);
    --salmon: hsl(5, 100%, 73%);
    --onyx: hsl(0, 0%, 27%);
    --pale-yellow: #fbffa7;
    --pale-blue: #b1c5ff;
    --light-red: #ff764d;
    --pale-violet: #d5b3ff;
    --pale-lime-green: #b6ffc0;
    --pure-blue: #0000ff;
    --chalk-white: #f1f1f1;
    --white: #f3f3f3;
    --pale-black: #3c3a3a;
    --black: #020202;
    --gray: #898989;
    --crimson: #dc143c;
    --shade-of-black: #151320;
    --almost-white-gray: #e9e9e9;
    --black-russian: #0b0a10;
    --mostly-black-blue: #151320;
    --mostly-black-blue-b: #201d30;
    --shade-of-green: #24301d;
    --shade-of-purple: #201d30;
    --shade-of-brown: #302a1d;
    --very-dark-olive-tone: #1e2013;
    --very-dark-desaturated-blue: #2a2640;
    --very-dark-desaturated-blue-b: #353050;
    /* Topography  */
    --ff-old-standardTT: 'Lobster', cursive;
    --ff-lobster: 'Lobster', cursive;
    --ff-Tiro: 'Tiro Gurmukhi', serif;
    --ff-roboto: 'Roboto', sans-serif;
    --ff-josefin-sans: 'JosefinSans', sans-serif;
    --fs-xl: 5rem;
    --fs-1: 3rem;
    --fs-2: 2.6rem;
    --fs-3: 2.2rem;
    --fs-4: 2rem;
    --fs-5: 1.8rem;
    --fs-6: 1.6rem;
    --fs-7: 1.4rem;
    --fs-8: 1.2rem;
    --fs-9: 1rem;
    --fs-s: .580rem;
    --fw-300: 300;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-Xb: 800;
    --fw-xxl: 900;
    /* Transitions */
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-out: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-in: cubic-bezier(0.33, 0.85, 0.56, 1.02);
}

.hd-1 {
    font-size: var(--fs-600);
    font-weight: 700;
}

.container {
    width: 100%;
    position: relative;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
}


/* HEADER STYLE */

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr), 2fr;
    height: 4rem;
    /* opened state is 30rem */
    width: 100%;
    align-items: flex-start;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid var(--pale-blue);
}

.logo-div {
    grid-area: 1/1;
    display: flex;
    align-items: center;
    gap: .550rem;
    margin: auto 0;
    padding-left: 1.890rem;
    z-index: 1000;
    flex: 1;
}

.main-nav__logo__image {
    display: flex;
}

.responsive-menu {
    grid-area: 1/2;
    display: none;
}

.responsive-navigation {
    display: none;
}


/* header top menu wide viewport  */

.primary-nav-div {
    place-self: center;
    grid-area: 1/span 8;
    display: flex;
    width: 98.650vw;
    justify-content: space-between;
    padding-right: .567rem;
    gap: 1.25rem;
}

.primary-nav-div .main-nav {
    flex: 2;
    display: flex;
    padding: .550rem;
}

.primary-nav-div .main-nav ul {
    display: flex;
}

.primary-nav-div .main-nav li {
    display: flex;
    padding: 0.5em;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.main-nav a {
    text-decoration: none;
    font-family: 'Tiro Gurmukhi', serif;
    font-weight: 600;
    color: var(--pale-black);
    display: flex;
    width: fit-content;
    padding: 0.1rem;
    align-items: center;
    list-style-type: none;
    font-size: 1.2em;
}

.main-nav a:active {
    color: var(--light-red);
}

.more-plus {
    transition: all 1s ease-in-out;
}

.more-plus:last-child {
    color: var(--light-red);
}

.plus-icon-span {
    margin-left: .1rem;
    margin-top: .1rem;
}

.user-div {
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1.890rem;
    white-space: nowrap;
}

.user-div .cta-free-trial {
    display: flex;
    align-items: center;
    padding: 0.2em;
}

.user-div .cta-free-trial a {
    color: var(--pure-blue);
    text-decoration: none;
    font-family: 'Tiro Gurmukhi', serif;
    font-weight: 300;
    list-style-type: none;
    letter-spacing: 1.2px;
    font-size: 1.2em;
}

.user-div .user-auth {
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5em;
    margin-left: .5em;
}

.user-auth-items li {
    display: inline-block;
    margin-right: .2em;
}

.user-auth-items a {
    text-decoration: none;
    font-weight: 300;
    color: var(--shade-of-black);
    font-size: 1em;
    line-height: 1.5;
    list-style-type: none;
    white-space: nowrap;
    font-family: 'Tiro Gurmukhi', serif;
}

.user-auth-items a:active {
    color: var(--light-red);
}


/* Collapsible Menu */

.collapsed-menu.wide-collapsed {
    grid-area: 2 / span 7;
    width: 98.333vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 500;
    gap: 2rem;
    padding: clamp(1rem, 1.550rem, 2rem);
}

.collapsed-menu.wide-collapsed .collapsed-menu-top-section {
    width: 100%;
}

.collapsed-menu.wide-collapsed .collapse-nav-list {
    display: flex;
    /* padding-block: clamp(1rem, .5rem, 1.5rem); */
    gap: 1.557rem;
    width: fit-content;
    white-space: nowrap;
}

.collapsed-menu.wide-collapsed .bottom-menu-links {
    display: flex;
    padding: 0.5em;
    gap: 1.5em;
    width: 100%;
}

.collapsed-menu.wide-collapsed li {
    list-style-type: none;
    display: flex;
    width: 100%;
}

.collapsed-menu.wide-collapsed .collapsed-nav-list-top {
    z-index: 500;
    width: 100%;
    padding-left: .5rem;
}

.collapsed-menu.wide-collapsed .collapsed-nav-list-top a {
    text-decoration: none;
    font-size: clamp(1rem, 1.70vw, 2rem);
    line-height: 1.2;
    display: flex;
    width: 100%;
    color: var(--pale-black);
}

.collapsed-menu.wide-collapsed .collapsed-nav-list-top a:active {
    color: var(--light-red);
}

.collapsed-menu.wide-collapsed.collapsed-menu h3 {
    font-size: 1.5rem;
}

.menu-h3 {
    padding: .865rem;
    margin-bottom: .8rem;
}

.collapsed-menu.wide-collapsed.collapsed-nav-links-bottom {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    gap: calc(20%/ 4);
    z-index: 500;
    padding: 0.8rem;
}

.collapsed-menu.wide-collapsed .collapsed-nav-links-bottom a {
    text-decoration: none;
    font-size: var(--fs-8);
    line-height: 1.5;
    color: var(--pale-black);
}

.collapsed-menu.wide-collapsed .collapsed-nav-links-bottom span {
    display: block;
    margin-bottom: .8rem;
    font-family: 'Tiro Gurmukhi', serif;
    font-weight: 600;
    font-size: var(--fs-7);
}


/* Sticky Nav Bar  */

.sticky-nav-header {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    padding: clamp(.5rem, .890rem, 1.5rem);
    background-color: var(--white);
    width: 100%;
    height: 3.5rem;
    opacity: .950;
    z-index: 500;
    transition: .5s ease-in-out;
}

.sticky-nav-header.sticky {
    position: fixed;
    top: 0;
    transition: .5s ease-in-out;
}

.sticky-nav-header.sticky ul {
    transition: .5s ease-in-out;
}

.navbarOffsetMargin {
    margin-top: 3.5rem;
}

.sticky-nav {
    width: 50%;
    align-self: flex-start;
    display: flex;
    padding-left: clamp(.5rem, -2vw + .580rem, 3rem);
}

.sticky-nav .second-nav ul {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
}

.sticky-nav .second-nav li {
    list-style: none;
}

.sticky-nav .second-nav a {
    display: inline-block;
    text-decoration: none;
    margin: .3em;
    font-size: 1em;
    font-weight: 500;
    color: var(--pale-black);
}

.second-nav a.active {
    color: var(--light-red);
}


/* added styles */

.head-section {
    min-height: 50vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/header.png);
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.page-about__header__ableton-logo {
    width: 65%;
    min-height: 6.5rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.img-box {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.video-box {
    place-self: center;
    width: fit-content;
    border-radius: .789rem;
    transition: .5s ease-in-out;
}

.video-box:hover {
    border: 5px solid rgb(255, 0, 0, .2);
}

.text-box {
    display: flex;
    justify-content: center;
    width: 100%;
}

.content .hero-text {
    width: 80%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

.hero-hd-text {
    line-height: 2;
    padding-inline: clamp(2rem, 3rem + 2.5vw, 5rem);
    padding-block: clamp(2rem, .5rem + 2.5vw, 2rem);
    ;
}

.content .hero-text p {
    line-height: 2;
    font-size: 1.129rem;
}

.image-container-1 {
    height: 58.333vw;
    width: 100%;
    position: relative;
}

.img-mainframe {
    height: 58.333vw;
    width: 58.3333vw;
    padding: 2rem;
    background: var(--pale-yellow);
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
}

.img-photo-2 {
    display: inline-block;
    background-image: url(../images/photo-2.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 33.33333vw;
    height: 25vw;
    margin-left: 8.333vw;
    z-index: 0;
    top: 0;
    left: 50%;
    transform: translate(-50%, 40%);
}

.img-photo-1 {
    background-image: url(../images/photo-1.jpg);
    background-size: cover;
    width: 41.66667vw;
    height: 41.6667vw;
    position: relative;
    top: 0;
    margin-left: 8.333vw;
    vertical-align: middle;
    z-index: 1;
    transform: translateY(20%);
}

.youtube-media-about {
    width: 53.3333vw;
    height: 30vw;
    display: flex;
}

.image-container-2 {
    align-self: center;
    height: 70.333vw;
    width: 100%;
    background: inherit;
    position: relative;
}

.img-mainframe-2 {
    height: 70.333vw;
    width: 70.3333vw;
    background: var(--pale-lime-green);
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 8.888vw;
}

.img-photo-3 {
    width: 30.333vw;
    height: 25.333vw;
    background-image: url(../images/photo-3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(-40%);
    position: relative;
}

.img-photo-4 {
    width: 30.333vw;
    height: 25.333vw;
    background-image: url(../images/photo-4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(-40%);
}

.img-photo-5 {
    background-image: url(../images/photo-5.jpg);
    background-size: cover;
    width: 40.333vw;
    height: 50vw;
    position: absolute;
    top: 15%;
    right: 8%;
}

.img-photo-poster {
    width: 100%;
    height: fit-content;
    display: grid;
    place-items: center;
}

.img-photo-poster img {
    width: 80%;
    margin: 0 auto;
}

.image-container-3 {
    align-self: center;
    height: 58.533vw;
    width: 100%;
    background: inherit;
    position: relative;
}

.img-mainframe-3 {
    height: 58.333vw;
    width: 58.3333vw;
    background: var(--pale-violet);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.img-photo-6 {
    width: 32.333vw;
    height: 25.533vw;
    background-image: url(../images/photo-6-a.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(-80%);
}

.img-photo-7 {
    background-image: url(../images/photo-7.jpg);
    background-size: cover;
    width: 43.533vw;
    height: 42vw;
    position: absolute;
    top: 15%;
    right: 0;
}

.image-container-4 {
    display: flex;
    align-self: center;
    height: 40vw;
    width: 80vw;
    background-color: transparent;
    position: relative;
    margin-block: calc(4vw + 2rem);
    margin-top: 0;
}

.img-photo-8 {
    width: 100%;
    height: 100%;
    background-image: url(../images/photo-8.jpg);
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
}

.img-text-box {
    width: 100%;
    height: 100%;
    background: var(--pale-blue);
    display: flex;
    flex: 1;
}

.call-to-action-latest-jobs {
    align-self: center;
}

.latest-jobs-span {
    display: block;
    margin-top: .8rem;
}

.latest-jobs-link {
    display: inline-block;
    text-decoration: none;
    color: var(--pure-blue);
    letter-spacing: 2px;
    line-height: 2;
    font-size: var(--fs-5);
    font-weight: var(--fw-700);
    font-family: 'Tiro Gurmukhi', serif;
}


/* FOOTER  Lobster, cursive */

.footer::before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: var(--pale-blue);
    position: absolute;
    top: 0%;
    left: 0;
}

.footer {
    background-color: var(--pale-blue);
    width: 100%;
    height: clamp(100vh, 100% + 100vw, 110vh);
    display: flex;
    flex-direction: column;
    padding: 2rem 3em;
    position: relative;
}

.footer a {
    text-decoration: none;
    color: var(--black);
    display: block;
    width: 100%;
    line-height: 2;
    position: relative;
    font-size: 1.2rem;
}

.footer li {
    list-style: none;
}

.footer-hd {
    width: 100%;
}

.footer-hd .hd-1 {
    font-size: 4rem;
    font-family: Lobster, cursive;
    letter-spacing: 3px;
    line-height: 1.5;
}

.chevron-right-icon {
    margin-top: .4rem;
    transition: .5s;
    color: var(--gray);
}

.links .chevron-right-icon {
    margin-top: .4rem;
    transition: .5s;
    position: absolute;
    bottom: calc(100%/5);
}

.footer-content-top,
.footer-content-middle {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1.5fr;
    grid-template-rows: auto;
    gap: 1rem;
    padding: 1rem 3rem;
}

.footer-content-top .social-media-box {
    width: 100%;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    flex-direction: column;
}

.footer-content-top .social-media-box .links {
    font-size: 1.2rem;
    color: var(--pale-black);
}

.footer-content-top .social-media-box .links li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content-top .social-media-box .social-media-icons {
    width: 100%;
    display: flex;
    gap: .3rem;
    justify-content: space-evenly;
    padding-bottom: .4rem;
    /*  transform: translateX(-10%); */
    position: relative;
    /* border: 1px solid red; */
}

.social-media-icons .social-icon {
    width: 3.5rem;
    height: 3.5rem;
    border: 0 solid var(--clr);
    padding: 0.4rem;
    border-radius: 0;
    box-shadow: 0 0 0 var(--black);
    transition: box-shadow ease-out 150ms, border-radius ease-out 150ms, border 150ms;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .1em solid var(--clr);
}

.footer-content-top .social-media-box .social-media-icons i {
    font-size: 2em;
    flex: 1;
    display: block;
}

.social-media-icons .social-icon:hover {
    border: 1px solid var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 5px var(--black);
}

.social-icon {
    color: var(-clr);
    position: relative;
}

.social-icon.instagram {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon.instagram i,
.social-icon.twitter i {
    transform: translateX(10%);
}

.social-icon a[data-tool-tip] {
    position: relative;
}

.social-icon a[data-tool-tip]::after {
    content: attr(data-tool-tip);
    display: block;
    white-space: nowrap;
    position: absolute;
    left: -100%;
    /* -10% on hover 0 in normal state */
    bottom: 0;
    /* 320% on hover 0 in normal state */
    background-color: var(--pale-black);
    color: var(--chalk-white);
    padding: .3rem 0.5rem;
    transform: scale(0);
    border-radius: .3rem;
    transition: transform ease-out 150ms, bottom ease-out 150ms;
    opacity: .8;
    font-size: .8rem;
}

.social-icon:nth-child(3) a[data-tool-tip]::after {
    left: -200%;
}

.social-icon a[data-tool-tip]:hover::after {
    transform: scale(1);
    bottom: 125%;
}

.hd-span {
    display: block;
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--black);
}

.newsletter-signup-box {
    display: flex;
    flex-direction: column;
}

.newsletter-signup-box p {
    padding: 0.4rem;
    line-height: 1.5;
    font-size: 1.2rem;
}

.newsletter-input-div {
    display: flex;
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: .5rem;
}

.newsletter-input-div .input-field {
    flex: 2;
}

#newsletter-signup {
    width: 100%;
    line-height: 2;
    border: none;
    background: #dbe2f9;
    outline: none;
    font-size: 1.2rem;
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
    padding: 0 .5rem;
}

.newsletter-input-div .btn-submit {
    flex: 1;
    background-color: var(--pure-blue);
    color: var(--white);
    font-size: 1.2rem;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
}


/* 
.footer-content-middle {}

.community-box {}
 */

.location-language-box {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.location-language-box .lang-location {
    display: flex;
    gap: .5rem;
}

.location-language-box .lang-location select {
    width: 100%;
    line-height: 1.5;
    border: none;
    background: #e9e9e9;
    outline: none;
    font-size: 1.2rem;
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
    padding: .8rem;
    cursor: pointer;
}

.footer-content-footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}

.footer-content-footer .footer-nav {
    display: flex;
    place-items: center;
    width: 60%;
}

.footer-nav ul {
    display: flex;
    width: 100%;
    gap: .4rem;
}

.footer-nav li {
    display: flex;
    width: fit-content;
    padding: 0.2rem;
    transition: .5s;
}

.footer-nav li:hover {
    background-color: var(--almost-white-gray);
    border-radius: .3rem;
}

.footer-nav a {
    display: inline-block;
    font-size: .8rem;
    white-space: nowrap;
}

.footer-content-footer .footer-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: .4;
    gap: .4rem;
}

.footer-content-footer .footer-logo .country-text {
    flex: 1;
    text-align: center;
    white-space: nowrap;
}


/* Added styles end */